blinker==1.7.0
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.0
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
my-app-for-Womanmoneycareer @ file:///C:/Users/sakim/my_app_for_Womanmoneycareer/dist/my_app_for_Womanmoneycareer-1.2.tar.gz#sha256=c2babf7d2ce85321a6b16ed5c88d581861b8de9779d887e83dbdecdcc3ffc148
packaging==23.2
pluggy==1.3.0
pytest==7.4.3
requests==2.31.0
setuptools==68.2.2
urllib3==2.0.7
Werkzeug==3.0.1
